@media only screen and (min-width: 1440px ) {
					h2 { padding-top: 7.535% }
					h2 {line-height: 80% }
     	}	

   	@media only screen and (max-width: 1024px ) {
                    body { font-size: 200% }
                    h2 { line-height: 60% }
                    nav {width:100%;}
                    .project-text { width: 100%; padding-left: 0px; }
     	}


	@font-face {
    		font-family: 'Mono Social Icons Font';
    		src: url('./icons/MonoSocialIconsFont-1.10.eot');
    		src: url('./icons/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         		url('./icons/MonoSocialIconsFont-1.10.woff') format('woff'),
         		url('./icons/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         		url('./icons/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    		src: url('./icons/MonoSocialIconsFont-1.10.ttf') format('truetype');
    		font-weight: normal;
    		font-style: normal;
	}

	@font-face {
   	 	font-family: 'si';
    		src: url('./socicon/socicon.eot');
    		src: url('./socicon/socicon.eot?#iefix') format('embedded-opentype'),
         		url('./socicon/socicon.woff') format('woff'),
         		url('./socicon/socicon.ttf') format('truetype'),
         		url('./socicon/socicon.svg#icomoonregular') format('svg');
    		font-weight: normal;
    		font-style: normal;
 
	}
 
	@media screen and (-webkit-min-device-pixel-ratio:0) {
    		@font-face {
        		font-family:si;
        		src: url(./socicon/socicon.svg) format(svg);
    		}
	}
	
@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,100,700italic,700,100italic,400);

.soc {
    overflow:hidden;
    display:block;
    text-align: center;
    padding-top:10px;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 44px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-right: 10px;
    color: #333333;
    background-color: #ffffff;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-facebook:before {
    content:'b';
}
.soc-facebook:hover {
    color: #3b5998;
}
.soc-twitter:before {
    content:'a';
}
.soc-twitter:hover {
	color: #55acee;
}
.soc-linkedin:before {
    content:'j';
}
.soc-linkedin:hover {
	color: #0077b5;
}
.soc-google:before {
    content:'c';
}
.soc-instagram:before {
    content:'x';
}
.soc-instagram:hover {
	color: #3f729b;
}
.soc-tumblr:before {
    content:'z';
}
.soc-tumblr:hover {
	color: #35465c;
}
.soc-soundcloud:before {
    content:'n';
}
.soc-soundcloud:hover{
	color: #ff8800;
}
.soc-lastfm:before {
    content:'q';
}
.soc-lastfm:hover {
	color: #d51007;
}
.soc-vine:before {
    content:'u';
}
.soc-vine:hover {
	color: #00b488;
}
.soc-flickr:before {
    content:'v';
}
.soc-flick:hover{
	color: #ff0084;
}
.soc-youtube:before {
    content:'r';
}
.soc-youtube:hover {
	color: #cd201f;
}
.soc-rss:before {
    content:',';
}



.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 400%;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

.main {
	text-align: center;
}


h1 {
	display: inline;
	font-size: 273.500%;
	color: #262626;
	font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 700;
	text-align: center;
}

h2 {
	font-size: 615.385%;
	color: #262626;
	font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 700;
	text-align: center;

}

h3 {
	display: inline;
	font-size: 273.500%;
	color: #262626;
	font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 700;
	text-align: center;
}

h4 {
	font-size: 121.554%;
	font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 700;
	text-align: center;
}

h5 {
	font-size: 121.481%;
	text-align: center;
	font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
}

h6 {
	font-size: 121.554%;
	font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 700;
	text-align: left;
}

p {
	font-size: 121.481%;
	text-align: left;
	float: left;
	font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 100;
}

li {
	display: inline;
}

nav {
	font-size: 273.500%;
	color: #262626;
	font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 700;
	width: 75%;
	text-align: center;
}

navitem {
	font-size: 273.500%;
	color: #262626;
	font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 700;
}

projects {
	display:inline-block;
	width: 70%;
}

work {

}

a:link {
	color: #262626;
	text-decoration: none;
}

a:visited {
	color: #262626;
}

a:hover {
	color: #B2B2B2;
}

.project-title {
	clear: both;
}

.project-media {
	display: inline-block;
}

.project-text {
	display: inline-block;
	text-align: right;
	clear: right;
	padding-left: 30px;
	padding-top: 0px;
	width: 35%;
	background-color: yellow;
}


